* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family:'Roboto Condensed';
  

}
.arno{
    color:black;
    text-decoration: none;
   
}
.ContenerCont{
    display: flex;
    flex-direction: column;
}
.contac-mail{
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contac-mail:hover{
    font-size: +120%;
    color: antiquewhite;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;

    
}
.fa-phone:before{
    color:whitesmoke;
    font-size: 23px;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
}

.menu li a {
    color: white;
    text-decoration: none;
    z-index: 2;
    font-size: 23px;
}


/* Section Hero */
.hero {
    height: 100vh;
    background: url('img/imageindexpourbureau.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-bio {
    height: 100vh;
    background: url('img/photosebguitar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-tuto{
    height: 100vh;
    background: url('img/PhotodefondTuto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.hero-contact{
    height: 100vh;
    background: url('img/photoChien.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bourg{
    position: absolute;
    width: 34%;
    right: 10%;
    top: 18%;
    transform: rotate(4deg);
}
.bourg:hover{
    transform: rotate(0.1turn);
    transition: 1s;
}
.telephone{
    position: absolute;
    width: 37%;
    left: 7%;
    transform: rotate(-18deg);
    bottom: 15%;
}
.telephone:hover{
    transform: rotate(0.01turn);
    transition: 1s;
 }

.beatels{
    width:34%;
    position: absolute;
    right: 8%;
    top: 40%;
    transform: rotate(-19deg);
}
.beatels:hover{
    transform: rotate(0.01turn);
    transition: 1s;
 }

.begin{
    height: 100%;
    background: url('img/teslariu-mihai-vaj-BFvuzmg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.titre-bio{
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 2%;
}
.titre-tuto{
    font-size: 19px;
    color: whitesmoke;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 84%;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #666;

}

.texte-bio{
    margin-left: 2%;
}

.title{
    color: whitesmoke;
    position: absolute;
    right: 4%;
    bottom: 54%;
    font-size: 80px;
    top: 10%;
}
.acroche{
    color: whitesmoke;
    bottom: 4%;
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-left: 3%;
    font-size: 30px;
}
.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #666;

}
.wrap-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.bouton{
    background-color: transparent;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #666;
}
.contact-form-txt{
    width: 100%;
    height: 45px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-textarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.fond{
    height: 100%;
    background: url('img/teslariu-mihai-vaj-BFvuzmg-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contac{
    color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.GO{
    font-size: 15px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 12px;
    background-color:transparent;
    font-weight: bold;
    color: black;
    border: solid 1px ;
    transition: 0.5s;
    
}
.GO:hover{
    cursor: pointer;
    box-shadow: 1px 1px 12px whitesmoke;
}
.contact-form h1{
    margin-bottom: 10px;
}

.fa-arrow-up{
    display: flex;
    position: absolute;
    color: black;
    display: inline-block;
    font-size: 25px;
    background-color: transparent;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 50%;
    border: solid black 1px;
    margin-bottom: 0%;
    transition: 0.5s;
    top: 174%;
    right: 1%;
    animation: clignotte linear infinite 4s;
}
.autre-classe {
    /* Vos styles personnalisés ici */
   top:199%;
    /* Ajoutez d'autres propriétés CSS selon vos besoins */
  }
  
.fa-contact {
    display: flex;
    position: absolute;
    color: black;
    display: inline-block;
    font-size: 20px;
    background-color: transparent;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 50%;
    border: solid black 1px;
    margin-bottom: 0%;
    transition: 0.5s;
    top: 153%;
    right: 3%;
    animation: clignotte linear infinite 4s;
  }
  
.fa-arrow-up:hover{
    cursor: pointer;
    box-shadow: 1px 1px 12px whitesmoke;
}

.fa-arrow-down{
    color: black;
    background-color: transparent;
    font-size: 25px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 50%;
    border: solid black 1px;
    margin-bottom: 0%;
    transition: 0.5s;
    position: absolute;
    right: 2%;
    bottom: 4%;
    animation: clignotte linear infinite 4s;
}



.fa-arrow-down:hover{
    cursor: pointer;
    box-shadow: 1px 1px 12px whitesmoke;
    color: whitesmoke;
}

.tit-tu{
    display: flex;
    
}


/* media tablette et grand ecrans */


@media all and (min-width: 600px){
   
    .contenrDesktop{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #000;
    }
    .TESTE{
        background-color: #000;
    }
    .fond{
        display: flex;
        flex-direction: column;
        width: 50%; 
    }
    .hero-contact{
        background: none;
        width: 45%;
        background: url('img/photoChien.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 24px;
   
    }
    .ContenerCont{
     display: flex;
     flex-direction: row;
     align-items: center;
     background-color: #000;

    }
    .contac-mail{
        padding: 0%;
        margin-bottom: 15px;
        font-size: 25px;
    }
    .contac-mail:hover{
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        border: 1px solid black;
        color: whitesmoke;
        background: #0a0a0a;
        font-size: 25px;
        padding: 5px;

        transition: 1s;


    }
    .fa-arrow-down{

        display: none;
    }
    .contenedestopcontact{
        display: flex;
        flex-direction: row;
    }
    .fa-arrow-up {
       display: none;
       
    }
     .wrap-contact{
        margin-left: 0;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        border: 1px solid black;
        color: whitesmoke;
        background: #0a0a0a;

     }
     .contact-in{
        margin-bottom: 13px;
     }
    .begin{
        background: #0a0a0a;
        box-shadow: 2px 3px 3px rgb(122 112 112 / 50%);
        border: 1px solid black;
        color: whitesmoke;
        width: 45%;
        margin-left: 90px;
        padding: 10px;
    }
    
    .hero-bio {
        width: 45%;
    
    }
   
    .title{
        color: whitesmoke;
        position: absolute;
        right: 66%;
        font-size:  70px;
        margin-top: 15px;
    }
    .titre-tuto{
        font-size: 26px;
        width: 60%;
        top: 125px;
        padding-top: 3px;
        padding-bottom: 3px;
        bottom: auto;
        
    }

    .menu li a {
        color: white;
        text-decoration: none;
        z-index: 2;
        font-size: 20px;
        padding-right: 4px;
    }
    .fa-phone:before{
        color:whitesmoke;
        font-size: 23px;
        padding-right: 12px;
    }
   .acroche{
    font-size: 20px;
   }
   .arno{
    text-decoration: none;
   }
   .bourg{
    width: 24%;
   }
   .beatels{
    width: 24%;
   }
   .telephone{
    width: 24%;
   }


}

@media screen and (orientation: landscape) and (max-height: 400px){

    .title{
        color: whitesmoke;
        position: absolute;
        right: 66%;
        bottom: 31%;
        font-size: 42px;
    }
    .begin{
      margin-right: 12px;
    }
    .contenrDesktop{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: #000;
    }
    .titre-bio{
        margin-top: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 2%;
    }
    .hero-bio{
        height: 194vh;
    }
.beatels{
    width: 25%;

}
.bourg{
    width: 25%;
}
.telephone{
    width: 25%;
}
.titre-tuto{
    top: 48px;
    color: white;
    backdrop-filter: blur(5px);
    width: 30%;
    bottom: 74%;
    font-size: 19px;

}
.fa-phone:before {
    font-size: 17px;
    padding-right: 30px;
    padding-bottom: 1px;
    
}
header{
    height: 11vh;
    padding-right: 3%;
    padding-left: 3%;
}
nav{
    align-items: stretch;
    
}

}





@media all and (max-width: 425px) {
    

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .arno{
        text-decoration: none;
    }
        
    .hero {
        height: 100vh;
        background: url('img/guitarPhotopresentationMODIFIER.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .acroche{
        color: whitesmoke;
        bottom: 4%;
        position: absolute;
        text-align: center;
        z-index: 1;
        font-size: 24px;
    }
    .title{
        color: whitesmoke;
        position: absolute;
        right: 4%;
        bottom: 77%;
        font-size: 30px;
    }

    header {
        background: transparent;
    }

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
}
